.env
data

docs

# PostgreSQL
db_data

__pycache__

logs

local.settings.json

# C#
bin
obj

# ビルド結果
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Dd]ebug*/
[Rr]elease*/

# Visual Studio固有のファイル
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Windowsイメージファイル
Thumbs.db
ehthumbs.db
